@XmlElement(required = true)
    @DefaultValue(StringPool.BLANK) @FormParam(value = "dictCollectionCode")
    protected String dictCollectionCode;
    @XmlElement(required = true)
    @DefaultValue(StringPool.BLANK) @FormParam(value = "itemCode")
    protected String itemCode;
    @XmlElement(required = true)
    @DefaultValue(StringPool.BLANK) @FormParam(value = "collectionCode")
    protected String collectionCode;
    @XmlElement(required = true)
    @DefaultValue(StringPool.BLANK) @FormParam(value = "itemName")
    protected String itemName;
    @XmlElement(required = true)
    @DefaultValue(StringPool.BLANK) @FormParam(value = "itemNameEN")
    protected String itemNameEN;
    @XmlElement(required = true)
    @DefaultValue(StringPool.BLANK) @FormParam(value = "itemDescription")
    protected String itemDescription;
    @XmlElement(defaultValue = "0")
    @DefaultValue("0") @FormParam(value = "parentItemId")
    protected long parentItemId;
    @XmlElement(required = true)
    @DefaultValue("1") @FormParam(value = "sibling")
    protected String sibling;
    @XmlElement(defaultValue = "0")
    @DefaultValue("0") @FormParam(value = "level")
    protected int level;
    @XmlElement(required = true)
    @DefaultValue(StringPool.BLANK) @FormParam(value = "metaData")
    protected String metaData;
    @XmlElement(required = true)
    @DefaultValue(StringPool.BLANK) @FormParam(value = "parentItemCode")
    protected String parentItemCode;