/backend.api.rest.jar
/backend.auth.jar
/backend.communication.api.jar
/backend.communication.service.jar
/backend.datamgt.api.jar
/backend.datamgt.service.jar
/backend.jasper.process.api.jar
/backend.jasper.process.service.jar
/backend.kyso.process.api.jar
/backend.kyso.process.service.jar
/backend.postal.api.rest.jar
/backend.synchronization.api.jar
/backend.synchronization.service.jar
/backend.usermgt.api.jar
/backend.usermgt.service.jar
/com.fds.vr.api.jar
/com.fds.vr.jar
/com.fds.vr.service.jar
/frontend.homepage.jar
/frontend.web.customer.dklr.jar
/frontend.web.customer.jar
/frontend.web.dossier.bvh.jar
/frontend.web.dossier.jar
/frontend.web.employee.jar
/frontend.web.onedoor.jar
/frontend.web.onegate.jar
/frontend.web.payment.jar
/frontend.web.payment2.jar
/frontend.web.portal.jar
/frontend.web.register.jar
/opencps.hook.jar
/opencps.lang.jar
/org.opencps.backend.dossiermgt.api.jar
/org.opencps.backend.dossiermgt.service.jar
/org.opencps.customer2.jar
/org.opencps.frontend.admin.jar
/org.opencps.frontend.web.admin.temp.jar
